html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #888;
    overflow: hidden;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 3em;
}

.next-btn, .previous-btn{
    width: 100px;
    height: 100%;
    border: none;
    position: absolute;
}

.next-btn{
    right: 0px;
    z-index: 999;
}

.previous-btn{
    left: 0px;
    z-index: 999;
}

.previous-btn:hover {
    background-image: linear-gradient(to right, #0003, transparent);
    animation-name: prvs;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes prvs {
    0% {
        padding-left: 0px;
    }
    25% {
        padding-left: 5px;
    }
    50% {
        padding-left: 10px;
    }
    75% {
        padding-left: 5px;
    }
    100% {
        padding-left: 0px;
    }
}

.next-btn:hover{
    background-image: linear-gradient(to right, transparent, #0003);
    animation-name: nxt;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }

    @keyframes nxt {
        0% {
            padding-right: 0px;
        }

        25% {
            padding-right: 5px;
        }

        50% {
            padding-right: 10px;
        }

        75% {
            padding-right: 5px;
        }

        100% {
            padding-right: 0px;
        }
    }

.img-slider-container, .img-slider, .img-container, .image {
    width: 100%;
    height: 100vh;
}

.img-container{
    display: none;
    position: absolute;
}

.show {
    display: block;
    /* animation-name: slide-left; */

}

.para {
    position: relative;
    bottom: 50px;
}

.dots-wrapper {
    border: none;
    height: 40px;
    margin: 0px;
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
}

.dots {
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    border: solid;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #fff6;
}